<div class="om-entity-selector">

  <mat-form-field
    class="select"
  >
    <mat-label>{{ placeholder }}</mat-label>
    <mat-select
      [placeholder]="placeholder"
      [compareWith]="getCompareWithFn"
      [ngModel]="item"
      (selectionChange)="onSelectionChange($event)"
    >
      <mat-option>None</mat-option>
      <mat-option
        *ngFor="let item of items"
        [value]="item"
      >
        {{ item.getDisplayName() }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button
    mat-icon-button
    matTooltip="Create New"
    (click)="openDialog()"
  >
    <mat-icon>add</mat-icon>
  </button>

</div>