<form
    class="om-login-component"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()">

    <div>
        <h2 class="mat-h2">Login</h2>
    </div>

    <div>
        <div class="form-field">
            <mat-form-field>
                <input
                    matInput
                    autocomplete=""
                    placeholder="E-mail or Username"
                    formControlName="email"/>

            </mat-form-field>
        </div>

        <div class="form-field">
            <mat-form-field>
                <input
                    matInput
                    placeholder="Password"
                    formControlName="password"
                    type="password"/>

            </mat-form-field>
        </div>

    </div>

    <div class="form-buttons">
        <button
            mat-button
            type="submit"
            color="primary"
            [disabled]="!loginForm.valid">Sign in</button>
    </div>

</form>