﻿<div class="om-scopes"
  *ngIf="{ page: page$ | async } as data"
>
  <div>
    <h2 class="mat-h2">My Scopes</h2>
  </div>

  <mat-paginator
    showFirstLastButtons="true"
    [length]="data.page.totalCount"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="currentPage"
    (page)="onPageChanged($event)">
  </mat-paginator>

  <table
    mat-table
    class="mat-elevation-z8"
    [dataSource]="data.page.items"
  >

    <ng-container matColumnDef="model">
      <mat-header-cell *matHeaderCellDef>Model</mat-header-cell>
      <mat-cell *matCellDef="let scope">{{scope.model}}</mat-cell>
    </ng-container>
        
    <ng-container matColumnDef="aperture">
      <mat-header-cell *matHeaderCellDef>Aperture (mm)</mat-header-cell>
      <mat-cell *matCellDef="let scope">{{scope.aperture | number:'0.2'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="focalLength">
      <mat-header-cell *matHeaderCellDef>Focal Length (mm)</mat-header-cell>
      <mat-cell *matCellDef="let scope">{{scope.focalLength | number:'0.2'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="vendor">
      <mat-header-cell *matHeaderCellDef>Vendor</mat-header-cell>
      <mat-cell *matCellDef="let scope">{{scope.vendor}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let scope">
        <button
          mat-icon-button
          matTooltip="Edit Scope"
          routerLink="/scopes/{{scope.id}}"
        >
          <mat-icon
            aria-label="Click to edit">
            edit
          </mat-icon>
        </button>
        <button
          mat-icon-button
          matTooltip="Delete Scope"
          (click)="remove(scope)"
        >
          <mat-icon
            aria-label="Click to delete">
            delete
          </mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </table>

  <mat-paginator
    showFirstLastButtons="true"
    [length]="data.page.totalCount"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="currentPage"
    (page)="onPageChanged($event)">
  </mat-paginator>

  <hr/>

  <div class="footer">

    <button 
      mat-button
      color="primary"
      routerLink="/scopes/new-scope">Add New Scope</button>

    <button
      mat-button
      routerLink="/equipment">Back to Equipment</button>

    <button
      mat-button
      (click)="exportToCsv()">Export To CSV</button>

  </div>

</div>