﻿<div class="om-site">

  <!-- Site Name -->
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input
      matInput
      type="text"
      autocomplete="off"
      [(ngModel)]="site.name"
      placeholder="Name" />
  </mat-form-field>

  <!-- Timezone -->
  <mat-form-field>
    <mat-label>Timezone (min)</mat-label>
    <input
      matInput
      type="number"
      autocomplete="off"
      [(ngModel)]="site.timezone"
      placeholder="Timezone (min)" />
  </mat-form-field>

  <!-- Elevation -->
  <mat-form-field>
    <mat-label>Elevation (m)</mat-label>
    <input
      matInput
      type="number"
      autocomplete="off"
      [(ngModel)]="site.elevation"
      placeholder="Elevation (m)" />
  </mat-form-field>

  <div class="line">

    <div class="item">
      <om-degrees-input
        title="Latitude"
        [(degrees)]="site.coord.latitude">
      </om-degrees-input>
    </div>

    <div class="item">
      <om-degrees-input
        title="Longitude"
        [(degrees)]="site.coord.longitude">
      </om-degrees-input>
    </div>

  </div>

</div>