<div class="om-site-component">

    <mat-form-field>
        <input matInput
            [(ngModel)]="site.name"
            placeholder="Name" />
    </mat-form-field>

    <mat-form-field>
        <input matInput
            [(ngModel)]="site.timezone"
            placeholder="Timezone" />
    </mat-form-field>

    <mat-form-field>
        <input matInput
            [(ngModel)]="site.latitude"
            placeholder="Latitude" />
    </mat-form-field>

    <mat-form-field>
        <input matInput
            [(ngModel)]="site.longitude"
            placeholder="Longitude" />
    </mat-form-field>

    <mat-form-field>
        <input matInput
            [(ngModel)]="site.elevation"
            placeholder="Elevation" />
    </mat-form-field>

    <om-degrees-input
        [(degrees)]="site.coord.lattitude">
    </om-degrees-input>

    <om-degrees-input
        [(degrees)]="site.coord.longitude">
    </om-degrees-input>

</div>