<div>
    <span>Sites</span>
    
    <ul>
        <li *ngFor="let site of items"
            (click)=onSelect(site)>
            <span>{{site.name}}</span>
        </li>
    </ul>
    
    <div *ngIf="selectedItem">
        <hr/>
        <om-site [site]=selectedItem></om-site>
    </div>
    
    <hr />
    <div>
        <button mat-button
                (click)=createNew()>New</button>
        <button mat-button
                *ngIf="selectedItem && selectedItem.id"
                (click)=updateItem()>Update</button>
        <button mat-button
                *ngIf="selectedItem && !selectedItem.id"
                (click)=addNewItem()>Add</button>
    </div>

</div>