@if ({ item: item$ | async }; as data) {
  <div
    class="om-edit-lens"
    >
    <div class="header">
      <h2 class="mat-h2">Edit Lens</h2>
    </div>
    @if (data.item) {
      <div>
        <om-lens [lens]="data.item"></om-lens>
      </div>
    }
    <hr/>
    <div class="footer">
      <button
        mat-button
        color="primary"
        [disabled]="!isValid()"
      (click)="updateItem()">Update</button>
      <button
        mat-button
      (click)="goBack()">Back</button>
    </div>
  </div>
}