<div class="om-scope-component">
    <mat-form-field>
        <input matInput
                placeholder="Model"
                [(ngModel)]="scope.model"/>
    </mat-form-field>

    <mat-form-field>
        <input matInput
                placeholder="Aperture"
                [(ngModel)]="scope.aperture"/>
    </mat-form-field>

    <mat-form-field>
        <input matInput
                placeholder="Focal Length"
                [(ngModel)]="scope.focalLength"/>
    </mat-form-field>

    <mat-form-field>
            <input matInput
                    placeholder="Vendor"
                    [(ngModel)]="scope.vendor"/>
    </mat-form-field>

</div>