<div>
    <span>Eyepieces</span>
    <ul>
        <li *ngFor="let ep of items"
            (click)=onSelect(ep)>
            <span>{{ep.model}}</span>
        </li>
    </ul>

    <div *ngIf="selectedItem">
        <hr/>
        <om-eyepiece [eyepiece]=selectedItem></om-eyepiece>
    </div>

    <hr /> 
    <div>
        <button mat-button
                routerLink="/equipment">Equipment</button>
        <button mat-button
                (click)=createNew()>New</button>
        <button mat-button
                (click)=addNewItem()>Add</button>

    </div>
</div>