<div class="om-filter-component">
    <mat-form-field>
            <input matInput
                    placeholder="Model"
                    [(ngModel)]="filter.model"/>
    </mat-form-field>

    <mat-form-field>
            <input matInput
                    placeholder="Vendor"
                    [(ngModel)]="filter.vendor"/>
    </mat-form-field>

    <mat-form-field>
            <input matInput
                    placeholder="Filter Type"
                    [(ngModel)]="filter.filterType"/>
    </mat-form-field>
</div>