<div class="om-observations">
    <div>
        <h2 class="mat-h2">
            My Recent Observations
        </h2>
    </div>

    <mat-paginator
        [length]="totalCount"
        [(pageSize)]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        showFirstLastButtons="true"
        (page)=onPageChanged($event)>
    </mat-paginator>
    
    <mat-table
        [dataSource]="items"
        class="mat-elevation-z8">

        <ng-container matColumnDef="targetName">
            <mat-header-cell *matHeaderCellDef>Target</mat-header-cell>
            <mat-cell *matCellDef="let observation">{{observation.target.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="scopeModel">
            <mat-header-cell *matHeaderCellDef>Scope</mat-header-cell>
            <mat-cell *matCellDef="let observation">{{observation.scope.model}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="eyepieceModel">
            <mat-header-cell *matHeaderCellDef>Eyepiece</mat-header-cell>
            <mat-cell *matCellDef="let observation">{{observation.eyepiece.model}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="filterModel">
            <mat-header-cell *matHeaderCellDef>Filter</mat-header-cell>
            <mat-cell *matCellDef="let observation">{{observation.filter.model}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="result">
                <mat-header-cell *matHeaderCellDef>Result</mat-header-cell>
                <mat-cell *matCellDef="let observation">{{observation.result.description}}</mat-cell>
            </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
            <mat-cell *matCellDef="let observation">
                <button
                    mat-icon-button
                    routerLink="/observations/{{observation.id}}">
                    <mat-icon>
                            edit
                    </mat-icon>
                </button>
                <button
                    *ngIf="observation.session && observation.session.id"
                    mat-icon-button
                    routerLink="/sessions/{{observation.session.id}}">
                    <mat-icon>
                            view_headline
                    </mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

    <mat-paginator
        [length]="totalCount"
        [(pageSize)]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        showFirstLastButtons="true"
        (page)=onPageChanged($event)>
    </mat-paginator>
    
</div>