<div class="om-recent-observations">
    <h2 class="mat-h2">My Recent Observations</h2>

    <div class="grid">
        <div *ngFor="let observation of items">
            
            <div class="target-name-column">
                {{observation.target.name}}
            </div>

            <div class="begin-column">
                {{observation.begin | date:'medium'}}
            </div>
            
            <div class="description-column">
                {{observation.result.description}}
            </div>
            
            <div class="actions-column">
                <div>
                    <a *ngIf="observation.session && observation.session.id"
                        routerLink="/sessions/{{observation.session.id}}">
                        Go To Session
                    </a>
                </div>
                <div>
                    <a routerLink="/observations/{{observation.id}}">
                        Go To Observation
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>