<div>
    <div>
        <span>Name</span>
        <input [(ngModel)]="site.name"
               placeholder="Name" />
    </div>

    <div>
        <span>Timezone</span>
        <input [(ngModel)]="site.timezone"
               placeholder="Timezone" />
    </div>

    <div>
        <span>Longitude</span>
        <input [(ngModel)]="site.longitude"
               placeholder="Longitude"/>
    </div>

    <div>
        <span>Latitude</span>
        <input [(ngModel)]="site.latitude"
               placeholder="Latitude"/>
    </div>

    <div>
        <span>Elevation</span>
        <input [(ngModel)]="site.elevation"
               placeholder="Elevation"/>
    </div>

    <div>
        <span>Additional details</span>
    </div>
    <div>
        <span>IAU Code</span>
        <input />
    </div>

</div>