<div class="om-filters">
        <div>
            <h2>My Filters</h2>
        </div>
    
        <mat-table
            [dataSource]="items"
            class="mat-elevation-z8">
    
        <ng-container matColumnDef="model">
            <mat-header-cell *matHeaderCellDef>Model</mat-header-cell>
            <mat-cell *matCellDef="let filter">{{filter.model}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="vendor">
            <mat-header-cell *matHeaderCellDef>Vendor</mat-header-cell>
            <mat-cell *matCellDef="let filter">{{filter.vendor}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="filterType">
                <mat-header-cell *matHeaderCellDef>Filter Type</mat-header-cell>
                <mat-cell *matCellDef="let filter">{{filter.filterType}}</mat-cell>
            </ng-container>
    
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
            <mat-cell *matCellDef="let filter">
                <button mat-icon-button
                        routerLink="/filters/{{filter.id}}">
                        <mat-icon
                            aria-label="Click to edit">
                            edit
                        </mat-icon>
                </button>
                <button
                    mat-icon-button
                    (click)=remove(scope)>
                        <mat-icon
                            aria-label="Click to delete">
                            delete
                        </mat-icon>
                </button>
            </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
    </mat-table>

    <mat-paginator
              [length]="totalCount"
              [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10]"
              (page)=onPageChanged($event)>
    </mat-paginator>
    
    <hr />
    <div>
        <button 
            mat-button
            color="primary"
            routerLink="/filters/new-filter"
            color="primary">Add New Filter</button>

        <button
            mat-button
            routerLink="/equipment">Back to Equipment</button>
        
    </div>
    
</div>