@if (
  {
    authState: authState$ | async,
  };
  as data
) {
  <div class="om-user-profile-menu">
    @if (!data.authState.isAuthenticated) {
      <span> <a routerLink="/login" class="text-bold text-white no-underline">Sign in</a> or <a routerLink="/register" class="text-bold text-white no-underline">Sign up</a> </span>
    }
    @if (data.authState.isAuthenticated) {
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    }
    <mat-menu #menu="matMenu">
      @if (data.authState.isAuthenticated) {
        <button mat-menu-item (click)="editProfile()">
          <span>Signed in as {{ data.authState.user.userName }}</span>
        </button>
      }
      @if (data.authState.isAuthenticated) {
        <button mat-menu-item (click)="editProfile()">
          <span>Your Profile</span>
        </button>
      }
      @if (data.authState.isAuthenticated) {
        <button mat-menu-item (click)="logOut()">
          <span>Log out</span>
        </button>
      }
    </mat-menu>
  </div>
}
