<div
  class="om-lenses"
  *ngIf="{ page: page$ | async } as data"
>
  <div class="header">
    <h2 class="mat-h2">My Lenses</h2>
  </div>

  <mat-paginator
    showFirstLastButtons="true"
    [length]="data.page.totalCount"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="currentPage"
    (page)="onPageChanged($event)">
  </mat-paginator>

  <table
    mat-table
    class="mat-elevation-z8"
    [dataSource]="data.page.items"
  >

    <ng-container matColumnDef="model">
      <mat-header-cell *matHeaderCellDef>Model</mat-header-cell>
      <mat-cell *matCellDef="let lens">{{lens.model}}</mat-cell>
    </ng-container>
        
    <ng-container matColumnDef="vendor">
      <mat-header-cell *matHeaderCellDef>Vendor</mat-header-cell>
      <mat-cell *matCellDef="let lens">{{lens.vendor}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="factor">
      <mat-header-cell *matHeaderCellDef>Factor</mat-header-cell>
      <mat-cell *matCellDef="let lens">{{lens.factor | number:'0.2'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let lens">
        <button
          mat-icon-button
          matTooltip="Edit Lens"
          routerLink="/lenses/{{lens.id}}"
        >
          <mat-icon
            aria-label="Click to edit"
          >
            edit
          </mat-icon>
        </button>
        <button
          mat-icon-button
          matTooltip="Delete Lens"
          (click)="remove(lens)"
        >
          <mat-icon
            aria-label="Click to delete"
          >
            delete
          </mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </table>

  <mat-paginator
    showFirstLastButtons="true"
    [length]="data.page.totalCount"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="currentPage"
    (page)="onPageChanged($event)">
  </mat-paginator>

  <hr/>
    
  <div class="footer">

    <button 
      mat-button
      color="primary"
      routerLink="/lenses/new-lens"
    >
      Add New Lens
    </button>

    <button
      mat-button
      routerLink="/equipment"
    >
      Back to Equipment
    </button>
      
    <button
      mat-button
      (click)="exportToCsv()"
    >
      Export To CSV
    </button>
      
  </div>
</div>