<div class="om-session-observations-component">
    
    <h2>Observations</h2>

    <div class="grid">
        <div *ngFor="let observation of observations">

            <div class="target-name-column">
                {{observation.target.name}}
            </div>

            <div class="begin-column">
                {{observation.begin | date:'medium'}}
            </div>

            <div class="description-column">
                {{observation.result.description}}
            </div>

            <div class="actions-column">
                <div>
                    <a routerLink="/observations/{{observation.id}}">
                        Go To Observation
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div>
        <button
            mat-button
            color="primary"
            (click)=addNewObservation()>Add New Observation</button>

        <button
            mat-button
            (click)=backToSession()>Back to Session</button>
    </div>

</div>