<div class="om-header">
    <h2 class="mat-headline">OM</h2>
</div>

<div>
    <div class="om-left-panel">
        <ul>
            <li><a routerLink="/equipment">Equipment</a></li>
            <li><a routerLink="/sites">Sites</a></li>
            <li><a routerLink="/observations">Observations</a></li>
            <li><a routerLink="/sessions">Sessions</a></li>
        </ul>
    </div>
    <div class="om-right-panel">
        <router-outlet></router-outlet>
    </div>
</div>

<div class="om-footer">
    2018
</div>