<mat-toolbar color="primary">
    <mat-toolbar-row>OM!</mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>

        <mat-list>
            <mat-list-item>
                <a routerLink="/equipment">Equipment</a>
            </mat-list-item>
            <mat-list-item>
                <a routerLink="/sites">Sites</a>
            </mat-list-item>
            <mat-list-item>
                <a routerLink="/observations">Observations</a>
            </mat-list-item>
            <mat-list-item>
                <a routerLink="/sessions">Sessions</a>
            </mat-list-item>
        </mat-list>

    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>