.om-sidebar-container {
  min-height: 600px;
}

.om-sidebar-container .om-sidenav-content{
  padding: 10px;
}

.om-toolbar .example-fill-remaining-space {
  flex: 1 1 auto;
}

.om-toolbar .om-title {
  display: contents;
}