<mat-toolbar
    class="om-toolbar"
    color="primary">
        <span class="om-title">
            <button
                mat-icon-button
                (click)="toggleSideNav()">
                <mat-icon>menu</mat-icon>
            </button>
            <h1>OM</h1>
        </span>
        
        <span class="example-fill-remaining-space"></span>
        <span>
            <om-user-profile-menu></om-user-profile-menu>
        </span>
</mat-toolbar>

<mat-sidenav-container
    class="om-sidebar-container">

    <mat-sidenav
        class="om-sidenav"
        mode="side"
        [opened]="opened$ | async">

        <mat-list>

            <mat-list-item>
                <a
                    routerLink="/sessions/new-session"
                    routerLinkActive="active">New Session</a>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
                <a routerLink="/scopes"
                    routerLinkActive="active">Scopes</a>
            </mat-list-item>

            <mat-list-item>
                <a routerLink="/eyepieces"
                    routerLinkActive="active">Eyepieces</a>
            </mat-list-item>

            <mat-list-item>
                <a routerLink="/filters"
                    routerLinkActive="active">Filters</a>
            </mat-list-item>

            <mat-list-item>
                <a routerLink="/lenses"
                    routerLinkActive="active">Lenses</a>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
                <a routerLink="/sites"
                    routerLinkActive="active">Sites</a>
            </mat-list-item>
            <mat-list-item>
                <a routerLink="/sessions"
                    routerLinkActive="active">Sessions</a>
            </mat-list-item>
            <mat-list-item>
                <a routerLink="/observations"
                    routerLinkActive="active">Observations</a>
            </mat-list-item>
            <mat-list-item>
                <a routerLink="/objects"
                    routerLinkActive="active">Objects</a>
            </mat-list-item>
            <mat-list-item>
                <a routerLink="/observing-programs"
                    routerLinkActive="active">Programs</a>
            </mat-list-item>

        </mat-list>

    </mat-sidenav>

    <mat-sidenav-content
        class="om-sidenav-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>