<div class="">
    <mat-form-field
        class="example-full-width">
        <input
            matInput
            placeholder="Hour"
            value="hours"/>
    </mat-form-field>

    <mat-form-field
        class="example-full-width">
        <input
            matInput
            placeholder="Favorite food"
            value="minutes"/>
        </mat-form-field>

    <mat-form-field
        class="example-full-width">
        <input
            matInput
            placeholder="Favorite food"
            value="seconds"/>
    </mat-form-field>
    
</div>