<div class="om-add-observation">
    <h2 class="mat-h2">Add New Observation</h2>

    <div *ngIf="item">
        <om-observation
            [observation]="item"></om-observation>
    </div>

    <div>
        <button 
            mat-button
            color="primary"
            (click)=addItem()>Add</button>
        <button 
            mat-button
            color="primary"
            (click)=addItemAndContinue()>Add and Continue</button>
        <button
            mat-button
            (click)=goBack()>Back</button>
    </div>
</div>