<div
  class="om-add-observation"
  *ngIf="{ item: item$ | async } as data"
>
  <div class="header">
    <h2 class="mat-h2">Add New Observation</h2>
  </div>

  <div *ngIf="data.item">
    <om-observation [observation]="data.item"></om-observation>
  </div>

  <hr />

  <div class="footer">

    <button 
      mat-button
      color="primary"
      [disabled]="!isValid()"
      (click)="addItem()">Add</button>

    <button 
      mat-button
      [disabled]="!isValid()"
      (click)="addItemAndContinue()">Add and Continue</button>

    <button
      mat-button
      (click)="goBack()">Back</button>
      
  </div>
</div>