<div class="om-lens">

    <mat-form-field>
        <input
            matInput
            type="text"
            autocomplete="off"
            placeholder="Model"
            [(ngModel)]="lens.model" />
    </mat-form-field>

    <mat-form-field>
        <input
            matInput
            type="number"
            autocomplete="off"
            placeholder="Factor"
            [(ngModel)]="lens.factor" />
    </mat-form-field>

    <om-vendor-selector
        [(vendor)]="lens.vendor">
    </om-vendor-selector>

</div>