<div class="om-lens">
    <mat-form-field>
        <input
            matInput
            placeholder="Model"
            [(ngModel)]="lens.model"/>
    </mat-form-field>

    <mat-form-field>
        <input
            matInput
            placeholder="Factor"
            [(ngModel)]="lens.factor"/>
    </mat-form-field>

    <mat-form-field>
            <input
                matInput
                placeholder="Vendor"
                [(ngModel)]="lens.vendor"/>
    </mat-form-field>
</div>