<div>
    <span>Filters</span>
    <ul>
        <li *ngFor="let filter of filters"
            (click)=onSelect(filter)>
            <span>{{filter.model}}</span>
        </li>
    </ul>

    <div *ngIf="selectedItem">
        <hr/>
        <om-filter [filter]=selectedItem></om-eyepiece>
    </div>

    <div>
        <button mat-button
                routerLink="/equipment">Equipment</button>
        <button mat-button
                (click)=createNew()>New</button>
        <button mat-button
                (click)=addNewItem()>Add</button>

    </div>
</div>