<div>
    <span>Filters</span>
    <ul>
        <li *ngFor="let item of items"
            (click)=onSelect(item)>
            <span>{{item.model}}</span>
        </li>
    </ul>
    
    <mat-divider></mat-divider>

    <div *ngIf="selectedItem">
        <hr/>
        <om-filter [filter]="selectedItem"></om-filter>
    </div>

    <div>
        <button mat-button
                routerLink="/equipment">Equipment</button>
        <button mat-button
                (click)=createNew()>New</button>
        <button mat-button
                (click)=addNewItem()>Add</button>

    </div>
</div>