<div class="om-eyepiece">

    <mat-form-field>
        <input
            matInput
            autocomplete="off"
            type="text"
            placeholder="Model"
            [(ngModel)]="eyepiece.model"/>
    </mat-form-field>

    <mat-form-field>
        <input
            matInput
            autocomplete="off"
            type="number"
            min="0"
            placeholder="Focal Length (mm)"
            [(ngModel)]="eyepiece.focalLength"/>
    </mat-form-field>

    <mat-form-field>
        <input
            matInput
            autocomplete="off"
            type="number"
            min="0"
            placeholder="Apparent FOV"
            [(ngModel)]="eyepiece.apparentFOV"/>
    </mat-form-field>

    <om-vendor-selector
        [(vendor)]="eyepiece.vendor">
    </om-vendor-selector>

</div>