<div class="om-eyepiece-component">

    <mat-form-field>
        <input matInput
                placeholder="Model"
                [(ngModel)]="eyepiece.model"/>
    </mat-form-field>

    <mat-form-field>
        <input matInput
                type="number"
                placeholder="Focal Length (mm)"
                [(ngModel)]="eyepiece.focalLength"/>
    </mat-form-field>

    <mat-form-field>
        <input matInput
                type="number"
                placeholder="Apparent FOV"
                [(ngModel)]="eyepiece.apparentFOV"/>
    </mat-form-field>

    <om-vendor-selector
        [(vendor)]="eyepiece.vendor">
    </om-vendor-selector>

</div>