<div>
    <span>Scopes</span>
    <ul>
        <li *ngFor="let scope of items"
            (click)=onSelect(scope)>
            <span>{{scope.model}}</span>
        </li>
    </ul>
    
    <div *ngIf="selectedItem">
        <hr/>
        <om-scope [scope]=selectedItem></om-scope>
    </div>
    
    <hr />
    <div>
        <button mat-button
                routerLink="/equipment">Equipment</button>
        <button mat-button
                (click)=createNew()>New</button>
        <button mat-button
                (click)=addNewScope()>Add</button>
    </div>
</div>