<div class="om-edit-filter">
        <div>
            <h2 class="mat-h2">Edit Filter</h2>
        </div>
                
        <div *ngIf="item">
            <om-filter [filter]=item></om-filter>
        </div>
    
        <div>
            <button
                mat-button
                color="primary"
                [disabled]="!isValid()"
                (click)=updateItem()>Update</button>
            <button
                mat-button
                (click)=goBack()>Back</button>
        </div>
    </div>