<div class="om-user-component">

    <mat-form-field>
        <input
            matInput
            placeholder="User Name"
            [(ngModel)]="user.userName"/>
    </mat-form-field>

    <mat-form-field>
        <input
            matInput
            placeholder="First Name"
            [(ngModel)]="user.firstName"/>
    </mat-form-field>

    <mat-form-field>
        <input
            matInput
            placeholder="Last Name"
            [(ngModel)]="user.lastName"/>
    </mat-form-field>

</div>