<div>
    <div>
        <span>Target</span>
        <div>{{observation.target.name}}</div>
        <div>
            <om-target-search></om-target-search>
        </div>
    </div>

    <div>
        <span>Notes</span>
        <input *ngIf="observation.result"
               [(ngModel)]="observation.result.description"
               placeholder="Result" />
    </div>

    <div>
        <span>Equipment</span>
        <ul>
            <li>
                <span>Telecopes, Binocularus &amp; Finders</span>
                <select>
                    <option *ngFor="let scope of scopes"
                    [ngValue]="scope">{{scope.model}}</option>
                </select>
            </li>
            <li>
                <span>Eyepieces &amp; Cameras</span>
                <select>
                    <option *ngFor="let eyepiece of eyepieces"
                    [ngValue]="eyepiece">{{eyepiece.model}}</option>
                </select>
            </li>
        </ul>
    </div>

    <div *ngIf="observation.site">
        <span>Location</span>
        <div>{{observation.site.name}}</div>
    </div>

</div>