.om-observation {
    display: flex;
    flex-direction: column;
}

.om-observation>* {
    width: 100%;
}

.om-observation .equipment LI {
    display: block;
}

.om-observation .om-target > DIV {
    display: inline-block;
}