﻿<div class="om-observation">

  <!-- Session Info -->
  <om-session-info
    [session]="observation.session"
    *ngIf="observation.session">
  </om-session-info>

  <!-- Target -->
  <div class="om-target">
    <om-target-selector
      [(target)]="observation.target"
      [canAdd]="true">
    </om-target-selector>
  </div>

  <div class="line">

    <!-- Start of observation (Date) -->
    <!-- Start of observation (Time) -->
    <om-date-time-input
      class="item"
      [(dateTime)]="observation.begin"
      datePlaceholder="Start Date"
      timePlaceholder="Time"
      dateHint="Date of observation"
      timeHint="Time of observation">
    </om-date-time-input>

    <!-- End Date -->
    <!-- End of an observation session (Date) -->
    <!-- End of observation session -->
    <om-date-time-input
      class="item"
      [(dateTime)]="observation.end"
      datePlaceholder="End date"
      timePlaceholder="Time"
      dateHint="Date of observation session"
      timeHint="Time of observation">
    </om-date-time-input>

  </div>

  <!-- Result -->
  <mat-form-field
    *ngIf="observation.result">
    <textarea
      matInput
      placeholder="Notes"
      matTextareaAutosize
      matAutosizeMinRows="5"
      [(ngModel)]="observation.result.description">
    </textarea>
  </mat-form-field>
    
  <h3 class="mat-subtitle-1">Equipment</h3>

  <om-scope-selector
    [(item)]="observation.scope">
  </om-scope-selector>

  <om-eyepiece-selector
    [(item)]="observation.eyepiece">
  </om-eyepiece-selector>

  <om-magnification-selector
    [eyepiece]="observation.eyepiece"
    [scope]="observation.scope"
    [(magnification)]="observation.magnification">
  </om-magnification-selector>

  <om-filter-selector
    [(item)]="observation.filter">
  </om-filter-selector>

  <om-lens-selector
    [(item)]="observation.lens">
  </om-lens-selector>

  <h3 class="mat-subtitle-1">Conditions</h3>

  <om-observation-conditions [observation]="observation">
  </om-observation-conditions>

</div>