<div class="om-observation-component">

    <mat-form-field>
        <mat-select placeholder="Target">
          <mat-option *ngFor="let target of targets"
                      [value]="target.name">
            {{ target.name }}
          </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="observation.result">
        <textarea matInput
            placeholder="Notes"
            matTextareaAutosize
            matAutosizeMinRows="5"
            [(ngModel)]="observation.result.description">
        </textarea>
    </mat-form-field>

    <div class="equipment">
        <h3 class="mat-subheading-2">Equipment</h3>
        <ul>
            <li>
                <mat-form-field>
                    <mat-select placeholder="Telecopes, Binocularus &amp; Finders">
                      <mat-option *ngFor="let scope of scopes"
                                  [value]="scope.id">
                        {{ scope.model }}
                      </mat-option>
                    </mat-select>
                </mat-form-field>

            </li>
            <li>
                <mat-form-field>
                    <mat-select placeholder="Eyepieces &amp; Cameras">
                      <mat-option *ngFor="let eyepiece of eyepieces"
                                  [value]="eyepiece.id">
                        {{ eyepiece.model }}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </li>
            <li>
                <mat-form-field>
                    <mat-select placeholder="Filters">
                      <mat-option *ngFor="let filter of filters"
                                  [value]="filter.id">
                        {{ filter.model }}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </li>
        </ul>
    </div>

</div>