<div class="om-targets-editor">

  <mat-paginator
    showFirstLastButtons="true"
    [length]="targets.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="currentPage"
    (page)="onPageChanged($event)">
  </mat-paginator>

  <table
    mat-table
    class="mat-elevation-z8"
    [dataSource]="paginatedTargets"   
  >

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let target">{{ target.name }}</mat-cell>
    </ng-container>
        
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let target">
          <button
            mat-icon-button
            matTooltip="Delete Target"
            (click)="removeTarget(target)"
          >
            <mat-icon
              aria-label="Click to delete"
            >
              delete
            </mat-icon>
          </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </table>

  <mat-paginator
    showFirstLastButtons="true"
    [length]="totalCount"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="currentPage"
    (page)="onPageChanged($event)">
  </mat-paginator>

  <div class="control-panel">

    <!-- Target -->
    <div class="om-target">
      <om-target-selector
        [(target)]="newTarget">
      </om-target-selector>
    </div>

    <button
      *ngIf="newTarget!=null"
      mat-button
      color="primary"
      (click)="addNewTarget()"
    >
      Add Object
    </button>

  </div>

</div>